src/*.o
src/remote-btgfw
src/local-btgfw
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.guess
config.status
config.sub
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
stamp-h1
